.menu-toggle {
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  transition: opacity, left .22s ease-in;
  z-index: 100;
  background-color: green;
  width: 30px;
  height: 30px;
  &:hover {
    opacity: .7;
  }
  &.opened {
    left: 320px;
    background-color: red;
  }
}